.gg {
    padding: 1rem;
}

.gg:hover {
    padding: 0;
    transition-duration: 200ms;
}

.page-disabled {
    pointer-events: none;
}

.page-container {
    background-color: white;
    display: flex;
    height: 100%;
    overflow: hidden;
}

.game-board {
    display: flex;
    justify-content: center;
    font-family: "Geologica";
    flex: 1;
}

.category {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px 15px 20px 15px;
    transition: 500ms;

}
.category:hover {
    background: rgba(218, 218, 218, 0.192);
    // background: rgba(48, 70, 99, 0.192);
    box-shadow: inset 3px 3px 10px 2px rgba(224, 224, 224, 0.671);
}

.category-header {
    min-height: 90px;
    text-align: center;
    font-weight: 700;
    color: rgb(66, 66, 66);
    margin-bottom: 0px;
}
