$card-border-radius: 1.5rem;
.info-column {
    // flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px 30px 20px 0px;
    width: 18%;
}
.info-column .player-card {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    // min-width: 30%;
    border-radius: $card-border-radius;
    overflow: hidden;
    flex: 3;
    font-family: "Geologica";
    justify-content: space-between;
    // box-shadow: 0 0 10px 2px #5a5a5a3f;
}

.info-column .player {
    overflow-wrap: break-word;
    margin-left: 40px;
    margin-right: 40px;
    font-family: "Kanit";
    font-weight: 600;
    font-size: 4vh;
}

.info-column .player-icon {
    width: 100%;
    height: fit-content;
    max-height: 45%;
    flex-grow: 1;
    padding: 0px 20px 0px 20px;
}
.power-bank {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    max-height: 17%;
    gap: 10px;
}
.power-bank .power {
    display: flex;
    flex-direction: column;
    // background-color: rgba(0, 0, 0, 0.31);
    transition: 200ms;
}

.power-bank .power .count {
    font-weight: 700;
    font-size: 2.5vh;
}
.power-bank .power:hover {
    background-color: transparent;
    transform: scale(1.7);
}

.power-bank .icon {
}
.power-bank .count {
}
