$card-border-radius: 1.5rem;
.score-card {
    flex: 1;
    border-radius: $card-border-radius;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    // box-shadow: 0 0 13px 1px #61616140;
}

.score-card .team {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    // padding: 20px;
}

.score-card .team h3 {
    font-family: "Expletus Sans";
    font-weight: 700;
}

.score-card h3.teamName {
    font-weight: 300;
}

.score-card .team.team-1 {
    // background-color: rgb(108, 61, 145);
    background-image: linear-gradient(
        135deg,
        hsl(0 0% 98% / 1) 35%,
        #bf274a 10%
    );
    color: rgb(105, 13, 33);

    // background-image: linear-gradient(
    //     168deg,
    //     hsl(243 100% 6%) 0%,
    //     hsl(243 100% 12%) 76%,
    //     rgba(9, 121, 110, 1) 126%
    // );
    // color: rgba(104, 194, 199, 0.67);
}
.score-card .team.team-2 {
    background-image: linear-gradient(
        240deg,
        hsl(47.08deg 76.57% 67.02%) 33%,
        #344765 10%
    );
    color: rgb(223 194 147);
    // background-image: linear-gradient(
    //     348deg,
    //     hsl(275 100% 6% / 1) 0%,
    //     hsl(274.67deg 100% 12%) 76%,
    //     hsl(0deg 100% 68.36%) 143%
    // );
    // color: #945870;
}


.score-card .team.team-2 .score {
    color: hsl(37, 54%, 53%);
}
.score-card .team .score {
    // border-color: #0000006c;
    // border-width: 0px 0px 0px 3px;
    // border-style: solid;
}
