$card-border-radius: 3rem;

.gg {
    padding: 1rem;
}

.gg:hover {
    padding: 0;
    transition-duration: 200ms;
}

.game-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid-container {
    background-color: #32353d;
    display: flex;
    height: 100%;
}

.info-column {
    // flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    width: 20%;
}
.info-column .player-card {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    // min-width: 30%;
    border-radius: $card-border-radius;
    overflow: hidden;
    flex: 3;
}

.info-column .player {
    // color: white;
    margin-left: 40px;
    margin-right: 40px;
}

.info-column .player-icon {
    width: 100%;
    height: fit-content;
    flex-grow: 1;
    padding: 0px 20px 0px 20px;
}
.power-bank {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.power-bank .power {
    display: flex;
    flex-direction: column;
    // background-color: rgba(0, 0, 0, 0.31);
}
.power-bank .power:hover {
    background-color: transparent;
    transform: scale(1.7);
    transition: 200ms;
}

.score-card {
    flex: 1;
    border-radius: $card-border-radius;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
}

.score-card .team {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.score-card .team.team-1 {
    // background-color: rgb(108, 61, 145);
    background-image: linear-gradient(135deg, #72b5bb 30%, #1d4547 130%);
    color: rgb(23, 75, 75);

    background-image: linear-gradient(180deg, #051325 30%, #1d4547 140%);
    color: rgb(16 105 105 / 92%);
    

}
.score-card .team.team-2 {
    background-image: linear-gradient(270deg, #602f44 0%, #3e1124 130%);
    color: #945870;
    background-image: linear-gradient(180deg, #361f39 0%, #1e1031 50% , #0d0723 100%);
    color: #945870;
}

.score-card .team.team-1 .score{

    border-color: #1d4549;
    border-left-width: 3px;
}

.power-bank .icon {
}
.power-bank .count {
}

// .grid-container {
//     background-color: #32353d;
//     display: flex;
//     height: 100%;
//     flex-direction: column;
//     justify-content: space-between;
// }
// .info-column {
//     background-color: rgb(40, 46, 52);
//     padding-top: 20px;
//     display: flex;
//     /* flex-direction: column; */
//     /* width: 30%; */
//     height: 20%;
// }

// .info-column .player {
//     // color: white;
//     margin-left: 40px;
//     margin-right: 40px;
// }

// .info-column .player-icon {
//     height: 100%;
//     /* height: fit-content; */
//     flex-grow: 1;
//     padding: 0px 20px 0px 20px;
// }
// .power-bank {
//     display: flex;
//     width: 100%;
//     background-color: rgba(0, 0, 0, 0.31);
//     justify-content: space-evenly;
// }
// .power-bank .power {
//     display: flex;
//     flex-direction: column;
// }
