.lobby-container {
    font-family: "Expletus Sans";
    display: flex;
    flex-direction: column;
}

.lobby-container .title {
    font-size: 8vh;
    color: hsl(202 7% 37% / 1);
    margin-bottom: 0px;
    // background: hsl(202 11% 23% / 1);
    padding: 15px 10px 15px 10px;
    font-weight: 100;
    font-family: "Lexend Deca";
    box-shadow: 0px 0px 20px 0px rgba(150, 150, 150, 0.425);
    z-index: 10;
    // text-shadow: 0px 0px 11px hsl(0deg 0% 0% / 18%);
}

.lobby-content {
    flex: 1;
    width: 100%;
    justify-content: center;
    padding-bottom: 3vh;
    display: flex;
    flex-direction: row;
    background: radial-gradient(circle, rgb(42 49 65) 0%, rgb(37 37 37) 92%);
    background: radial-gradient(circle, rgb(59 59 59) 0%, rgb(39 39 39) 92%);
    background: radial-gradient(
        circle,
        hsl(0, 0%, 100%) 40%,
        hsl(0, 0%, 94%) 92%
    );
}
.lobby-content .divider {
    height: 50%;
    width: 2px;
    background: #88989c63;
    align-self: center;
}
.team-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
.team-section .player-icon {
    width: 90%;
    height: fit-content;
    flex-grow: 1;
}
.team-section h2 {
    color: rgba(19, 45, 70, 0.56);
    margin-bottom: 0px;
    padding: 20px 10px 20px 10px;
    font-size: 4vh;
}
.card-container {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}
.card-container .player-card {
    border-radius: 2rem;
    min-height: fit-content;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 10px 13px 2px #5a5a5a2d;
    transition: 2s;
    padding: 20px;
    flex: 1;
}

.card-container .player-card:hover {
    transform: scale(1.03);
}

.player-card-name {
    margin-bottom: 20px;
    flex-grow: 0;
    overflow-wrap: break-word;
    font-family: "Kanit";
    font-weight: 600;
}

.edit-icon {
    cursor: pointer;
}
.edit-icon:hover {
    opacity: 0.7;
}
