.dropdown-menu {
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 0px 0px 25px 25px;
    padding: 0px 20px 10px 20px;
}

#colorPicker {
    border: none;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e9e9e9;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c5c5c5;
    transition: 2s;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #747474;
    // display:inline;
}
