$transition-speed: 200ms;

.mc-section {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    align-items: center;
}

.answer-choice.hovered {
    transform: scale(1.1);
    background-color: rgb(116, 44, 44);
    transition: $transition-speed;
}

#details .answer-choice {
    max-width: 50%;
    min-width: fit-content;
    font-size: 20px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top-width: 1px;
    border-radius: 0px;
    margin-bottom: 25px;
    font-family: "Poppins";
}
#details .answer-choice.btn-primary {
    background-color: transparent;
    border-top-color: #d3556a;
}

#details .answer-choice.btn-danger {
    border-top-color: #9d293a;
    border-top-width: 5px;
    border: 2px #d3556a;
}

#details .answer-choice.btn-success {
    border-top-color: #1d5f44;
    border-top-width: 5px;
}
