@font-face {
    font-family: "DreamAvenue";
    src: local("DreamAvenue"),
        url("../fonts/Dream-Avenue.ttf") format("truetype");
    font-weight: bold;
}

$sw-text: #f493a5;
#root {
    height: 100vh;
}

.page-disabled {
    pointer-events: none;
}

.page {
    font-family: "Cinzel";
}
#banner {
    height: 100vh;
    max-width: 30%;
    flex-shrink: 0;
}

#banner img {
    height: 100vh;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

#banner .points {
    z-index: 10;
    color: #d3556a;
    position: relative;
    bottom: 10vw;
    margin: 0px;
    width: 100%;
    text-align: center;
    font-size: 8vw;
    line-height: 8vw;
    text-shadow: -3px -3px 10px rgb(59, 3, 12);
}

#playerSection {
    color: $sw-text;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8f1739;
    padding-top: 2rem;
    max-width: 20%;
    min-width: 250;
}

#playerSection .player-name {
    margin-top: 3rem;
    font-size: 2.5vw;
    container-name: playerSection;
    border-top: #b05d6c;
    border-top-width: 1px;
    border-top-style: solid;
    flex-grow: 1;
    padding: 15px;
}

#playerSection .powerCotainer {
    background-color: rgb(84, 22, 33);
    width: 100%;
    display: flex;
    justify-content: center;
    // height: 10%;
    border-radius: 0px;
    font-family: "Poppins";
    color: $sw-text;
}

#playerSection .powerCotainer h5 {
    color: $sw-text;
}

#playerSection .powerCotainer .btn {
    display: flex;
    flex-direction: column;
    fill: $sw-text;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#playerSection .powerCotainer .powerIcon {
    max-width: 70%;
    margin-bottom: 10px;
}

#playerSection .powerCotainer .btn.btn-warning {
    background-color: transparent;
    border: 0px;
}

#playerSection .powerCotainer .btn.btn-warning:disabled {
    background-color: #8b193a7f;
}
#playerSection .powerCotainer .btn.btn-warning:hover {
    background-color: #8b193a7f;
}

#playerSection .home {
    width: 100%;
    border-radius: 0px;
    display: none;
}

#details {
    background-color: #271426;
    padding: 20px 5% 20px 5%;
    color: $sw-text;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
}

#details .title {
    font-weight: 500;
    font-size: 3.5vw;
    flex-grow: 1;
    max-height: 60%;
    overflow-y: auto;
}

#details .answer-section {
    align-self: center;
    // flex-grow: 1;
    display: flex;
    flex-grow: 1;
    width: 100%;
    flex-direction: column;
}
