$transition-speed: 300ms;
$cute-color-1: #80cfdb;
$cute-color-2: #f6f3e4;
$cute-color-blue-dark: #327c9b;

.page.one {
    font-family: "Poppins";
}

#banner.one {
    // background-image: linear-gradient(120deg, #cdb082 0%, #806944 100%);
    // background-image: linear-gradient(120deg, #1f3532 0%, #0f1b19 100%);
    order: 3;
}

#banner .points.one {
    font-family: "BukhariScript";
    color: #fffbf6;
    text-shadow: -7px -3px #a5dabd;
    font-size: 18vh;
    width: fit-content;
    bottom: 90vh;
    left: 30%;
    line-height: 0px;
    z-index: -10;

    // font-family: "BukhariScript";
    // color: #f7759e;
    // text-shadow: 3px 3px #f9f7db;
    // font-size: 5vh;
    // width: fit-content;
    // bottom: 5vh;
    // left: 77%;
    // line-height: 0px;

    // font-family: "BukhariScript";
    // color: #ffffff;
    // text-shadow: 7px -2px 0px #d563be;
    // font-size: 5vh;
    // width: fit-content;
    // bottom: 54vh;
    // left: 55%;
    // line-height: 0px;
    // z-index: 4;
    // transform: rotate(7deg);
}

#playerSection.one {
    order: 2;
    background-color: transparent;
    justify-content: flex-end;
    max-width: 25%;
    padding-top: 0px;
}

#playerSection.one .powerCotainer {
    // background-color: rgb(228, 92, 160);
    background-color: transparent;
    // background-image: url("https://media.istockphoto.com/id/912278170/vector/abstract-pink-background-vector.jpg?s=612x612&w=0&k=20&c=NK-pdVZFiSRxg0iyGZIlJlAuA0uCDqDsKcF26_hlfJQ=");
    // background: radial-gradient(
    //     farthest-corner at 0px 0px,
    //     hsl(337, 90%, 88%) 0%,
    //     hsl(341, 83%, 72%) 60%,
    //     hsl(341, 70%, 52%) 100%
    // );
    // background-size: contain;
    // height: 100%;
    border-radius: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    order: 1;
    overflow: hidden;
}

#playerSection.one .powerCotainer .powerIcon {
    // max-width: 30%;
    // margin-bottom: 10px;
}

#playerSection.one .powerCotainer .btn {
    background-image: url("https://media.istockphoto.com/id/912278170/vector/abstract-pink-background-vector.jpg?s=612x612&w=0&k=20&c=NK-pdVZFiSRxg0iyGZIlJlAuA0uCDqDsKcF26_hlfJQ=");
    // background: rgba(255, 255, 255, 0);
    border-style: solid;
    fill: hsl(330, 75%, 40%);
    flex-direction: row;
    border-radius: 0px;
}

#playerSection.one .powerCotainer h5 {
    color: hsl(330, 75%, 60%);
    font-weight: 900;
    margin-left: 10px;
}

// #playerSection .powerCotainer .btn.btn-warning:disabled {
//     background-color: #b6b6b6;
// }
// #playerSection .powerCotainer .btn.btn-warning:hover {
//     background-color: rgb(175, 43, 109);
//     filter: saturate(1.3);
// }

#playerSection.one .powerCotainer .btn:hover {
    // filter: brightness(1.05);
    // background: rgba(255, 255, 255, 0.3);
    opacity: 0.9;
    // background: rgba(255, 155, 202, 0.3);
    // fill: white
}

.player-name.one {
    display: none;
}

#details.one {
    background-color: transparent;
    color: #80cfdb;
    order: 1;
    background-image: url("../../assets/questions/100/wave.png");
    background-size: 100%;
    flex: 1 1 40%;
    background-position-y: -3px;
    background-repeat: no-repeat;
    padding: 0px 6vw 1vw 2vw;

    // background-color: transparent;
    // color: #80cfdb;
    // order: 1;
    // background-image: url("../../assets/questions/100/hexagon.png");
    // background-size: 120%;
    // flex: 1 1 40%;
    // background-position-x: -160px;
    // background-position-y: -644px;
    // background-repeat: no-repeat;
}

#details.one .title {
    text-align: left;
    font-family: "Flicker";
    font-size: 9.2vh;
    padding: 4px;

    color: $cute-color-1;
    text-shadow: 3px 3px #65a0d8;

    color: #adf7f1;
    text-shadow: 3px 3px hsl(183, 81%, 38%);

    // color: #99208f;
    // text-shadow: 3px 3px #e3bda7;

    color: #f6f3e4;
    // text-shadow: 2px 2px #FD6155, 5px 5px #fd60557a;
    width: 100%;
}

#details.one .mc-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 4vh;
    width: 60%;
}

#details.one .answer-section {
    align-items: flex-start;
}

.answer-section.one .answer-choice {
    // border-radius: 40px;
    font-size: 3.2vh;
    border-width: 0px;
    font-weight: 400;
    background: white;
    color: $cute-color-blue-dark;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 0px 0px 20px rgba(125, 125, 125, 0.4);
    font-family: "Geologica";
    font-weight: 600;

    // font-size: 3vh;
    // border-width: 0px;
    // font-weight: 700;
    // background: #ffffff;
    // padding-top: 12px;
    // padding-bottom: 12px;
    // box-shadow: 5px 5px #ebcea3;
    border-radius: 13px;
    // color: #ebcea3;
    // box-shadow: 5px 5px 10px #28a7bd;
}

// #details.one .answer-choice.btn-primary {
//     background-color: transparent;
// }

#details.one .answer-choice.btn-success {
    color: hsl(162deg 100% 19.37%);
    background: hsl(133 73% 74% / 1);
    font-weight: 700;
}

#details.one .answer-choice.btn-danger {
    color: #d90721;
    font-weight: 700;
    background-color: #fd627d;
}

#details.one .answer-choice.hovered {
    // transform: scale(1.2);
    animation: pop 0.3s;
    // transition: 300ms ease;
    font-weight: 900;
    // border-color: $cute-color-blue-dark;
    // border-width: thick;
    background-color: hsl(182deg 97.45% 34.77%);
    color: hsl(0deg 0% 100%);
    box-shadow: 0px 0px 20px rgb(38 150 155 / 80%);
}

@keyframes pop {
    50% {
        transform: scale(1.2);
    }
}

@keyframes pop-entrance {
    0% {
        opacity: 0;
        transform: scale(0.5, 0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

.one .time {
    font-family: "BukhariScript";
    font-size: 1.5rem;
}

// .one .text-section .text-entry-submit {
//     background-color: $loki-color-1;
// }

.one .text-section {
    width: 70%;
    font-family: "Poppins";
    padding: 0px;
    align-self: flex-start;
}

.one .text-section .text-entry {
    border-radius: 10px;
    color: rgb(73, 73, 73);
}
.one .text-section .text-entry-submit {
    background-color: $cute-color-2;
    border-radius: 15px;
    font-family: "Poppins";
    color: #327c9b;
    font-weight: bold;
    padding: 10px 45px 10px 45px;
}

.one .text-section .text-entry-submit:hover {
    background-color: hsl(180, 83%, 41%);
    color: white;
    animation: pop 0.4s;
    // box-shadow: 0px 0px 25px hsl(180, 53%, 55%);
    // border: solid 4px #327c9b;
}

.one .text-section .text-entry.is-invalid {
    background-color: hsl(341, 100%, 82%);
    border-color: hsl(341, 70%, 60%);
    color: hsl(341, 60%, 52%);
    border-width: 4px;
}

.one .text-section .text-entry.is-valid {
    background-color: hsl(165, 63%, 57%);
    border-color: hsla(182, 82%, 24%, 0.562);
    color: hsl(184, 69%, 28%);
    border-width: 4px;
}
