$transition-speed: 300ms;
$loki-color-1: #cdb082;
$loki-color-2: hsl(0, 0%, 40%);
$loki-color-3: #c5c5c5;

.page.three {
    // flex-direction: column;
    font-family: "DreamAvenue";
    color: $loki-color-1;
}

.rest.three {
    flex-direction: column;
}
#banner.three {
    // background-image: linear-gradient(120deg, #cdb082 0%, #806944 100%);
    // background-image: linear-gradient(120deg, #1f3532 0%, #0f1b19 100%);
    color: $loki-color-1;
}

#banner .points.three {
    color: transparent;
    text-shadow: none;
    -webkit-text-stroke: 1.2px $loki-color-1;
    font-family: DreamAvenue;
    text-align: left;
    rotate: -90deg;
    bottom: 0vw;
    margin: 0px;
    font-size: 8vw;
    width: fit-content;
    bottom: 11.5vw;
    left: -6%;
}

#playerSection.three {
    order: 2;
    flex-direction: row;
    flex-grow: 0;
    max-height: 200px;
    color: $loki-color-2;
    background-color: #f9f9f9;
    padding: 0px;
    position: relative;
}

#playerSection.three .divider {
    width: 250px;
    height: 7px;
    background: $loki-color-1;
    position: absolute;
    left: calc(50% - 250px * 1 / 2);
    z-index: 10;
    top: 0px;
}
#playerSection.three::before {
    content: "";
    width: 350px;
    height: 4px;
    background: $loki-color-1;
    position: absolute;
    left: calc(50% - 350px * 1 / 2);
    z-index: 10;
    top: 0px;
}

#playerSection.three .powerCotainer {
    background-color: transparent;
    fill: white;
    height: 100%;
    border-radius: 0px;
}

#playerSection.three .powerCotainer .powerIcon {
    max-width: 25%;
    margin-bottom: 10px;
}

#playerSection.three .powerCotainer .btn {
    fill: $loki-color-2;
    flex-direction: row;
    border-radius: 0px;
}

#playerSection .powerCotainer h5 {
    color: $loki-color-2;
    margin-left: 15px;
    font-family: "Cinzel";
    font-weight: 700;
}

#playerSection .powerCotainer .btn.btn-warning:disabled {
    background-color: #b6b6b6;
}
#playerSection .powerCotainer .btn.btn-warning:hover {
    background-color: #b6b6b6;
}

.player-name.three {
    display: none;
}

#details.three {
    background-color: white;
    color: $loki-color-2;
}

#details.three .mc-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3vh;
    padding-left: 5%;
    padding-right: 5%;
}

.answer-section.three .answer-choice {
    width: 1fr;
    border: solid $loki-color-3;
    border-radius: 0px;
    color: $loki-color-2;
    font-size: 1.5rem;
    font-family: "Cinzel";
    border-width: 1px;
    font-weight: 200;
}

#details.three .answer-choice.btn-primary {
    background-color: white;
}

#details.three .answer-choice.btn-success {
    border-color: #1d5f44;
    border-width: 5px;
    color: #1d5f44;
}

#details.three .answer-choice.hovered {
    // transform: scale(1.01);
    // background: linear-gradient(45deg, #dac8b0 0%, #c39869 100%);
    // background: linear-gradient(45deg, rgb(234, 218, 198) 0%, #d9b990 100%);
    transition: 200ms;
    font-weight: 700;
    color: $loki-color-1;
    border-color: $loki-color-1;
    border-style: double;
    border-width: thick;
}

.three .time {
    font-family: "Cinzel";
    font-size: 1.5rem;
}
