.five .clock {
    margin-left: 1rem;
    margin-right: 1rem;
}

.three .clock {
    margin: 0.8rem;
    margin-right: 20%;
}

.one .clock {
    padding: 2rem;
    background-image: url("../../assets/questions/100/tealCloud.png");
    background-size: cover;
    background-position: center;
    order: 1;
}

.time {
    font-size: 2rem;
    transition-duration: 200ms;
}
