.five .clock {
    margin-left: 1rem;
    margin-right: 1rem;
}

.three .clock {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 20%;
}

.time {
    font-size: 2rem;
    transition-duration: 200ms;
}
